* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.sidenav a {
    text-decoration: none;
    color: white;
}

.sidenav a:hover {
    color: white;
}

li {
    list-style-type: none;
}

ol, ul {
    padding: 0;
}

.img-px {
    width: 60px;
}

img, svg {
    vertical-align: baseline;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

.anchor-style {
    text-decoration: none;
}

.anchor-style:hover {
    color: black;
}

/* LOGIN/REGISTRATION */

.bg-login {
    background-color: #283342;
}

.login-spacing {
    height: 100vh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 4px 4px;
    background-color: #E6EBF7;
    height: 52vh;
    width: 50vw;
}
/* SIDEBAR */

.sidenav {
    /*  position: fixed; Fixed Sidebar (stay in place on scroll) */
    /*  z-index: 1; Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    position: fixed;
    background-color: #283342;
    overflow-x: hidden; /* Disable horizontal scroll */
    color: #FFFFFF;
    height: 100%;
    padding: 0;
    z-index: 1;
    width: 245px;
}


/* SIDEBAR HEADER */

.sidenav .sidenav-header {
    background-color: #1D242E;
    padding: 17px 0px;
}

.sidenav .sidenav-header .img-logo {
    height: 50px;
}

/* SIDEBAR BODY */

#sidenav-body {
    /*padding: 20px 30px;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    overflow-x: hidden;
    flex-direction: column;
}

.arrow_down-align {
    vertical-align: middle;
}

#sidenav-body ul {
    width: 100%;
}

.sidenav_row-spacing {
    padding: 10px 30px;
}

.dashboard_click-down {
    /*padding: 10px 30px;*/
    cursor: pointer;
}

.search_click-down {
    /*padding: 10px 30px;*/
    cursor: pointer;
}

/*.click-down:hover {
        background-color: #009099;
    }*/

.click-down_clicked {
    background-color: #009099;
}

.dashboard_show-links {
    padding: 5px 30px;
    line-height: 3rem;
}

.inventory_show-links {
    padding: 5px 30px;
    line-height: 3rem;
}

.search_show-links {
    padding: 5px 30px;
    line-height: 3rem;
}

.show-links_clicked {
    transition: all 1s ease;
}

    #sidenav-body ul li {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

/* IMG User Login */

.user_img {
    border-radius: 4px;
    width: 42px;
    height: 42px;
    margin-right: 16px;
}

.details_user-style {
    line-height: 14px;
    font-weight: 500;
}

.details_user-style > h4 {
    font-size: 14px;
}

.details_user-style > p {
    font-size: 11px;
    color: #FED600;
    margin: 0;
}

.user_btn {
    cursor: pointer;
    vertical-align: middle;
}

.user_row-spacing {
    padding: 30px;
}

.show_user-links {
    position: relative;
}

.user_links {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 3px 4px;
    font-size: 14px;
    z-index: 10;
    z-index: 10;
    top: 36px;
    right: -9px;
}

#square-rotate_user {
    height: 10px;
    width: 10px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    right: -3px;
    bottom: 0px;
}

#border_user-links{
    border-bottom: 1px solid #1D242E;
}

.user-link {
    padding: 7px 17px;
}

.inventory_click-down {
    cursor: pointer;
}

/* MAIN CONTENT */

.main-content {
    margin-left: 245px;
    width: calc(100% - 245px);
    height: 100%;
}

/* Home/Index */

.bg-home {
    background-image: url("../Content/Assets/Img/Icons/sfondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #b2aaaa;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

#text-home {
    color: white;
    background-color: #283342;
    width: 50%;
    border-radius: 4px;
    text-align: center;
}

.bg-white {
    background-color: #FFFFFF;
    color: #283342;
}

.bg-grey_black {
    background-color: #283342;
    color: #FFFFFF;
    margin: 0;
}

#home_sub-txt {
    display: flex;
    width: 20%;
    font-weight: bold;
    font-size: 1.2rem;
}

#home_sub-txt > span {
    padding: 16px 18px;
}

/* INVENTARIO */

.inventory-box {
    height: 152px;
    width: 212px;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1;
    background-color: white;
}

.inventory_link {
    color: black;
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    font-size: 1rem;
}

.blue-border { 
    border: 2px solid #03A9F5;
}

.blue_top-border {
    border-top: 2px solid #03A9F5;
}

.green-border {
    border: 2px solid #01A768;
}

.green_top-border {
    border-top: 2px solid #01A768;
}

.red-border {
    border: 2px solid #F0483E;
}

.red_top-border {
    border-top: 2px solid #F0483E;
}

.yellow-border {
    border: 2px solid #FED600;
}

.yellow_top-border {
    border-top: 2px solid #FED600;
}

.bg-blue {
    background-color: rgba(3, 169, 245,0.3);
}

.bg-green {
    background-color: rgba(1, 167, 104,0.3);
}

.bg-red {
    background-color: rgba(240, 72, 62, 0.3);
}

.bg-yellow {
    background-color: rgba(254, 214, 0, 0.3);
}

.inventory_box-content {
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.inventory_box-subLink {
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg_white-grey {
    background-color: #E6EBF7;
}

.inventory-content {
    height: 100vh;
}

.text-grey {
    color: rgba(29, 36, 46, 0.5);
}

.tables_pharmacy {
    background-color: white;
}

.range_px {
    width: 30px !important;
}

/* Employees */

.img-employee {
    width: 130px;
}