* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.sidenav a {
    text-decoration: none;
    color: white;
}

.sidenav a:hover {
    color: white;
}

li {
    list-style-type: none;
}

ol, ul {
    padding: 0;
}

img, svg {
    vertical-align: baseline;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

/* LOGIN/REGISTRATION */

.bg-login {
    background-color: #283342;
}

.login-spacing {
    height: 100vh;
    padding: 30px;
}

.login-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 4px 4px;
    background-color: #E6EBF7;
    height: 92vh;
}
/* SIDEBAR */

.sidenav {
    /*  position: fixed; Fixed Sidebar (stay in place on scroll) */
    /*  z-index: 1; Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #283342;
    overflow-x: hidden; /* Disable horizontal scroll */
    color: #FFFFFF;
    height: 100vh;
    padding: 0;
}


/* SIDEBAR HEADER */

.sidenav .sidenav-header {
    background-color: #1D242E;
    padding: 17px 0px;
}

.sidenav .sidenav-header .img-logo {
    height: 50px;
}

/* SIDEBAR BODY */

#sidenav-body {
    /*padding: 20px 30px;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    overflow-x: hidden;
    flex-direction: column;
}

.arrow_down-align {
    vertical-align: middle;
}

#sidenav-body ul {
    width: 100%;
}

.click-down {
    padding: 10px 30px;
    cursor: pointer;
}

/*.click-down:hover {
        background-color: #009099;
    }*/

.click-down_clicked {
    background-color: #009099;
}

.show-links {
    padding: 5px 30px;
}

.show-links_clicked {
    transition: all 1s ease;
}

    #sidenav-body ul li {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }