
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-50 px-3 py-5">
    <div class="row">
        <h1>Dashboard</h1>
        <p class="text-grey fw-bold">Un sommario veloce delle funzioni e dell'inventario</p>
    </div>

    <div class="row">

        <div class="d-flex justify-content-evenly align-content-center gap-5 my-3">

            <div class="inventory-box yellow-border">
                <div class="inventory_box-content">
                    <img src="~/Content/Assets/Img/Icons/total_payements.png" alt="Alternate Text" />
                    <p class="fw-bold">@ViewBag.TotalOrder €</p>
                    <p>Totale Incasso</p>
                </div>
                <div class="inventory_box-subLink yellow_top-border bg-yellow">
                    <a class="inventory_link" href="~/Orders/Index">Vai ai Dettagli Ordini >></a>
                </div>
            </div>

            <div class="inventory-box blue-border">
                <div class="inventory_box-content">
                    <img src="~/Content/Assets/Img/Icons/icon_medicinal-box.png" alt="Alternate Text" />
                    <p class="fw-bold">@ViewBag.MedicinesCount</p>
                    <p>Quantitá di Medicine</p>
                </div>
                <div class="inventory_box-subLink blue_top-border bg-blue">
                    <a class="inventory_link" href="~/Inventary/ListMedicines">Vai Alla Lista Completa >></a>
                </div>
            </div>

            <div class="inventory-box red-border">
                <div class="inventory_box-content">
                    <img src="~/Content/Assets/Img/Icons/inventory_danger-medicines.png" alt="Alternate Text" />
                    <p class="fw-bold">@ViewBag.FinishedMedicinesCount</p>
                    <p>Carenze di Medicine</p>
                </div>
                <div class="inventory_box-subLink red_top-border bg-red">
                    <a class="inventory_link" href="~/Inventary/FixLastProducts">Risolvi >></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vh-50">
    <div class="row">
        <div class="d-flex bg-white flex-wrap justify-content-evenly align-content-center align-items-center px-3 py-5">
            @{
                Html.RenderAction("InventaryPartialView");
                Html.RenderAction("PharmacyPartialView");
                Html.RenderAction("CustomersPartialView");
                Html.RenderAction("OrdersPartialView");
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#BtnSearch").click(function () {

            $('#resultSearchByCodFisc').empty();
            let InputCodFisc = $('#InputSearch').val();

            $.ajax({
                url: 'GetMedicineByCodFisc',
                method: 'GET',
                data: { 'codFisc': InputCodFisc },
                success: function (a) {
                    console.log(a);
                    if (a == "ERRORE") {
                        $('#resultSearchByCodFisc').append("<div class=\"alert alert-warning\">Nessun medicinale trovato</div>")
                    } else {
                        $.each(a, function (index, valore) {
                            $('#resultSearchByCodFisc').append("<div class=\"card\" style=\"width: 18rem; \"> " +
                                "<img src =\"~/Content/Assets/Img/Medicines/" + valore.UrlImg + " class=\"card-img-top\" alt =\"...\" />" +
                                "<div class=\"card-body\">" +
                                "<h5 class=\"card-title\">" + valore.NameMedicine + "</h5>" +
                                "<p class=\"card-text\">Codice Fiscale:" + valore.CodFisc + "</p>" +
                                "<p class=\"card-text\">Medicina acquistata da:" + valore.FirstName + " " + valore.LastName + "</p>" +
                                "<p class=\"card-text\">Si trova nel cassetto:" + valore.IdentifierDrawer + "</p>" +
                                "<a href=\"~/Medicines/Index\" class=\"btn btn-primary\">Dettagli Medicina</a>" +
                                "</div>" +
                                "</div>")
                        })
                        
                    }               
                }
                })
        })
    })
</script>
