@model IEnumerable<Pharmacy_Management.Models.Medicines>

<div class="card">
    <div class="card-header">
        Inventario <a href="~/Inventary/Index">vai all'inventario</a>
    </div>
    <div class="card-body">
            <p class="card-text">Numero totale di medicine: @ViewBag.Stock</p>
            <p class="card-text">Categorie Medicine: @ViewBag.Stock</p>
    </div>
</div>