<div class="card">
    <div class="card-header">
        Ordini <a href="~/Inventary/Index">vai agli ordini</a>
    </div>
    <div class="card-body">
        <p class="card-text">Numero totale di Ordini: @ViewBag.OrderTotal</p>
    </div>
</div>

