<div class="card">
    <div class="card-header">
        Info Farmacia <a href="~/SupplierCompanies/Index">vai alla sua gestione</a>
    </div>
    <div class="card-body">
        <p class="card-text">Numero totale di Ditte Fornitrici: @ViewBag.SuppliersCountk</p>
        <p class="card-text">Numero di dipendenti: @ViewBag.Employee</p>
    </div>
</div>
