<div class="card">
    <div class="card-header">
        <h4><span class="fw-bold me-5">Info Farmacia</span> <a class="text-grey anchor-style" href="~/SupplierCompanies/Index">Vai alle liste >></a></h4>
    </div>
    <div class="card-body d-flex justify-content-between">
        <div class="d-flex flex-column">
            <h4 class="fw-bold">@ViewBag.SuppliersCount</h4>
            <p class="card-text">Numero totale di Ditte Fornitrici</p>
        </div>
        <div class="d-flex flex-column">
            <h4 class="fw-bold">@ViewBag.Employee</h4>
            <p class="card-text">Numero di dipendenti</p>
        </div>

        
    </div>
</div>
