@model Pharmacy_Management.Models.Drawers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Dashboard</span> > Modifica del Cassetti</h1>
    <h4>Cassetto</h4>

    <div>

        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <h5 class="card-header text-center">Numero Cassetto</h5>
                    <div class="card-body d-flex justify-content-around text-center">
                        <div>
                            <h5 class="card-title">@Model.Identifier</h5>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <p>
        @Html.ActionLink("Modifica", "Edit", new { id = Model.IdDrawer }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Torna Indietro", "Index", null, new { @class = "btn btn-primary" })
    </p>

</div>

