@{
    ViewBag.Title = "Home Page";
}
<div class="row bg-home">
    <div id="home_sub-txt">
        <span class="bg-white">Medical</span>
        <span class="bg-grey_black">Service</span>
    </div>
    <div id="text-home" class="shadow">

        <h1>Benvenuto alla Pharma ONE</h1>
    </div>

</div>